

.reverseItNumberBg{
background-image: url(/src/images/A_silhouette_of_a_samurai.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100vh;
margin: 0;
}

